[   
    {lager, [
        {colored, true},
        {log_root, "log/sys"},
        {handlers, [
            {lager_console_backend,
                [
                    {level, debug},
                    {formatter, lager_default_formatter},
                    {formatter_config, ["===CONNSOLE REPORT=== ", date, " ", time, " ===\n", sev, "(", pid, ":", module, ":", line, ") ", color, message, "\n\n"]}
                ]},
            {lager_file_backend, [
                {file, "error.log"},
                {level, error},
                {formatter, lager_default_formatter},
                {formatter_config, ["===ERROR REPORT=== ", date, " ", time, " ===", sev, "(", pid, ":", module, ":", line, ") ", message, "\n\n"]},
                {size, 10485760},
                {date, "$D0"},
                {count, 10}
            ]},
            {lager_file_backend, [
                {file, "console.log"},
                {level, info}
            ]}
        ]},
         %% Any other sinks
        {extra_sinks, [
            {extra_sinks, [
                {error_logger_lager_event,
                    [{handlers, [
                        {lager_file_backend, [
                            {file, "sink1.log"},
                            {level, info}]}
                        ]}
                    ]
                }
            ]}
        ]}
    ]},

	{tcp, [
		{ports, [
 			{port1, [
				{port, 30001},
 				{type, web},
                {ssl, false}
 			]} 			
 		]},
		{data_size, 2}
	]},

    {db, [
        {pools, [
            {pool1, [
                {name, {local, mysql}},
                {worker_module, mysql},
                {size, 10},
                {max_overflow, 20}
            ], [
                {host, "localhost"},
                {port, 3306},
                {user, "root"},
                {password, "12345678"},
                {database, "eos"}
            ]}
        ]}
    ]},

	{http, [
		{port, 18080}
	]}
	
].
